// #64432f
// #D5BDAF
// #E3D5CA
// #F5EBE0
// #D6CCC2
// #EDEDE9

// 定義顏色變數
$primary-color: #D5BDAF;
$secondary-color: #E3D5CA;
$success-color: #10b981;
$warning-color: #f59e0b;
$danger-color: #ef4444;

$icon-1: #64432f