// 生成 Ionic 顏色變數的 mixin
@mixin ion-color($name, $base, $contrast: #fff) {
  --ion-color-#{$name}: #{$base};
  --ion-color-#{$name}-rgb: #{red($base)}, #{green($base)}, #{blue($base)};
  --ion-color-#{$name}-contrast: #{$contrast};
  --ion-color-#{$name}-contrast-rgb: #{red($contrast)}, #{green($contrast)}, #{blue($contrast)};
  --ion-color-#{$name}-shade: #{mix(#000, $base, 12%)};
  --ion-color-#{$name}-tint: #{mix(#fff, $base, 10%)};
}

:root {
  @include ion-color('primary', $primary-color);
  @include ion-color('secondary', $secondary-color);
  @include ion-color('success', $success-color);
  @include ion-color('warning', $warning-color, #000);
  @include ion-color('danger', $danger-color);
  @include ion-color('fnIcon', $icon-1);
}

// 自定義顏色
.ion-color-fnIcon {
  --ion-color-base: var(--ion-color-fnIcon);
  --ion-color-base-rgb: var(--ion-color-fnIcon-rgb);
  --ion-color-contrast: var(--ion-color-fnIcon-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fnIcon-contrast-rgb);
  --ion-color-shade: var(--ion-color-fnIcon-shade);
  --ion-color-tint: var(--ion-color-fnIcon-tint);
}

.tab-selected {
  color: $warning-color;
}

// ionic 客製區
ion-icon {
  width: 32px;
  height: 32px;
}

.page-content {
  --background: #F5EBE0
}

.ion-toolbar {
  padding: 2px 0 !important;
  --background: var(--ion-color-fnIcon);
  color: white;
}