.input_title[data-v-10b88d12]{font-size:18px}.icon_area[data-v-f988bd60]{width:48px;height:48px}.icon_area_img[data-v-f988bd60]{padding:8px}.page_title[data-v-f988bd60]{text-align:center}.input_title[data-v-f988bd60]{font-size:18px}
